<div class="container">
  <div class="col-md-12 result-section">
    <div class="btn-group">
      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ selectedSearchEngine.value }}
      </button>
      <div class="dropdown-menu">
        <li *ngFor="let item of searchEngineTypes" [attr.id]="item.id" [value]="item.value" class="dropdown-item" (click)="onSearchEngineChanged(item, searchString.value)">{{item.value}}</li>
      </div>
    </div>
    <div class="input-group active-cyan">
      <input class="form-control" id="iconLeft" #searchString type="text" (keyup.enter)="Search(searchString.value)" placeholder="Search...">
      <span class="input-group-btn" (click)="Search(searchString.value)">
        <i class="fa fa-search" aria-hidden="true"></i>
      </span>
    </div>
  </div>

  <!-- Search Results -->
  <div class="col-md-12 result-section">
    <div *ngIf="HasSearchResults()">
      <div class="text-success"> About {{SearchData.searchInformation.formattedTotalResults}} results ({{SearchData.searchInformation.formattedSearchTime}}
        seconds)
      </div>
      &nbsp;
      <div *ngFor='let value of SearchData.items; trackBy: index;'>
        <div id="{{ value.id }}">
          <h5 [innerHTML]="value.htmlTitle || value.title"></h5>
          <span class="" [innerHTML]="value.htmlSnippet"></span>
          <a target="_blank" href="{{value.link}}">{{value.link}}</a>
        </div>
        <hr>
      </div>
      <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="#">2
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      <i class="fas fa-exclamation-triangle"></i>
      {{errorMessage}}
    </div>

    <div *ngIf="!searchCallCompleted && !errorMessage" class="alert alert-info" role="alert">
      <i class="fas fa-info-circle"></i>
      To see search results , Start your quest by typing the query above....
    </div>

  </div>
  <!-- Search Results ends-->

  <!-- Search Results logging-->
  <div class="col-md-12 result-section">
    <h5>Search History</h5>
    <div class="table-responsive">
      <table class="table table-sm table-dark">
        <thead class="thead-light">
          <tr class="table-info">
            <th scope="col">Search Engine</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Search delay</th>
            <th scope="col">Total Results</th>
            <th scope="col">Search term</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let item of GetSelectedSearchEngineStats(); trackBy: index;'>
            <td>
              <span>{{item.browser || 'NA'}} </span>
            </td>
            <td>
              <span>{{item.timeStamp || 'NA' }} </span>
            </td>
            <td>
              <span>{{item.searchInformation.formattedSearchTime || 'NA' }} secs </span>
            </td>
            <td>
              <span>{{item.searchInformation.formattedTotalResults || 'NA'}} </span>
            </td>
            <td>
              <span>{{item.searchText}} </span>
            </td>
          </tr>
          <tr *ngIf="!GetSelectedSearchEngineStats()">
            <td colspan="4">No search history available.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Search Results logging ends-->
</div>